.form-container {
	background: #fff;
	width: 100%;
	padding: 1.8rem;
	margin: 0;
}
.container.dark-theme .form-container {
	background: #000;
}
.form-group {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	padding: .2rem;
}
.form-group label {
	color: #374151;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}
.container.dark-theme .form-group label {
	color: silver;
}

.form-group [type]{
	border: 1px solid #d2d6db;
	border-radius: 6px;
	padding: 15px;
	outline: none;
}
.container.dark-theme .form-group [type]{
	background: #24252a;
	color: #fff;
	font-size: 18px;
	border: 1px solid #2B3649;
}
.form-group [type]:hover {
	border-color: #a8afb9;
}
.form-group [type]:focus {
	border-color: #4d84e2;
}

.button {
	font-weight: bold;
	line-height: 19px;
	background: #04befe;
	border: none;
	padding: 15px 25px;
	border-radius: 6px;
	color: #000;
	width: 100%;
	margin-top: 24px;
	cursor: pointer;
}
.button:hover {
	background: #019dd1;
}
.button:focus {
	background: #019dd1;
}

@media screen and (min-width: 768px) {
	.form-container {
		margin: 2rem 0;
		box-shadow: 2px 1px 3px 3px rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		width: 100%;
		padding: 2rem;
	}
}
@media screen and (min-width: 1024px) {
	.form-container {
		max-width: 100%;
		width: 100%;
	}
	.button-container {
		text-align: right;
	}
	.button {
		width: auto;
	}
}
